@import './function.scss';

.dashboard-component {
  overflow-x: hidden;
  .chat-calender-section {
    background: white;
  }

  @media screen and (min-width: 599px) and (max-width: 899px) {
    padding-top: 20px;
  }
}

.dashboard-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;

  border-bottom: 2px solid #f0f0f0;
  @include for-tablet-up {
    display: none;
  }
}

.left-sidebar-desktop {
  flex-basis: 20%;
}

.right-sidebar-desktop {
  flex-basis: 20%;
}
.main-dashboard-section {
  flex-basis: auto;

  margin: 0 auto;
  background: #f8ffff;
  padding: 50px 30px;
  display: flex;
  justify-content: center;

  @include for-tablet-up {
    flex-basis: 60%;
  }
  @include for-tablet-landscape-up {
    padding: 50px 20px 80px 20px;
  }

  .dashboard-body-section {
    flex: 1;
  }

  .statistics-section {
    display: flex;
    flex-direction: column;
  }
  .dashboard-title {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    // @include for-tablet-landscape-up {
    //   // justify-content: flex-start;
    // }
    span {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;

      color: #062d49;
    }
  }

  .statistics-numbers-wrapper {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;

    // @include for-tablet-landscape-up {
    //   justify-content: space-between;
    // }
  }

  .statistics-body {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    width: 198px;
    border-radius: 8px;
    height: 70px;
    padding: 16px;
    position: relative;
    background-size: cover;
    background: url('@/assets/blue-gradient.svg') no-repeat;
    background-size: cover;
    margin: 20px;
    .stat-views {
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: #89cdfb;
    }
    .stat-numbers {
      margin-top: 5px;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: #f8fcff;
    }
    &:nth-child(2) {
      // margin: 0 35px;
      background-image: url('@/assets/green-gradient.svg');
    }
    &:nth-child(3) {
      background-image: url('@/assets/pink-gradient.svg');
    }
  }

  .target-section {
    margin-top: 50px;
  }

  .weekly-progress-section {
    width: 70px;
    height: 70px;
  }
  .weekly-section,
  .monthly-section {
    width: 349px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    height: 100px;
    padding: 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-around;

    margin: 20px;
    .weekly-text {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: #333333;
    }
    .weekly-numbers {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #5d5b75;
      margin-top: 10px;
    }
  }

  .separator {
    height: 68px;
    border: 2px solid #5e93b7;
  }
  .weekly-section {
    background-color: white;
  }

  .monthly-section {
    background: #34688b;
    color: white;

    .weekly-text {
      color: white;
    }
    .weekly-numbers {
      color: white;
    }
  }

  .marketplace-and-socials-section {
    margin-top: 50px;
    flex-wrap: wrap;
  }

  .marketplace-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .marketplace-section {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 16px 30px;
    padding-bottom: 42px;
    background-color: white;
    border-radius: 10px;
  }

  .marketplace-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
  }

  .marketplace-progress {
    margin-bottom: 36px;
    width: 105px;
    height: 105px;
  }
  .marketplace-content-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #062d49;
    margin-bottom: 36px;
  }

  .mp-stats {
    margin-right: 20px;
  }
  .mp-icon {
    margin-right: 10px;
  }

  .mp-numbers {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;

    color: #919193;

    span {
      color: #333333;
    }
  }

  .socials-section {
    flex-wrap: wrap;
    // flex-basis: 50%;
    margin: 20px;
    justify-content: center;
    width: 354px;
  }

  .socials-wrapper {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 147px;
    height: 181px;
    padding: 52px 34px 24px 16px;
    background: #d0ecff;
    border-radius: 10px;

    &:nth-child(2) {
      background: #dad0ff;
      // margin-right: 0;
    }
    &:nth-child(3) {
      background: #dad0ff;
    }
    &:nth-child(4) {
      // margin-right: 0;
    }
  }

  .logo {
    margin-bottom: 30px;

    .logo-img {
      width: 30px;
      height: 30px;
    }
    .facebook,
    .twitter {
      filter: invert(54%) sepia(21%) saturate(3253%) hue-rotate(179deg) brightness(101%)
        contrast(101%);
    }
  }

  .social-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #3b5275;

    &.instagram,
    &.tiktok {
      color: #513b75;
    }
  }

  .social-action {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #6982a8;

    &.instagram,
    &.tiktok {
      color: #513b75;
    }
  }
}

.three-lines-wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
