@import './function.scss';

.dashboard-section {
  // position: absolute;
  width: 100%;
  //top: 90px;
  padding-top: 76px;
  caret-color: transparent;
  .dashboard-heading-wrapper {
    background-color: #062d49;
    padding-bottom: 137px;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
    padding: 50px 16px 137px;
    flex-direction: row;
  }

  .dashboard-community-message-section {
    background: #2aaf7f;
    max-width: 1013px;

    top: -100px;

    padding: 24px;
  }

  .heading-primary {
    color: #2aaf7f;
    max-width: 343px;
    font-size: 30px;
  }
  .heading-secondary {
    margin-top: 24px;
    color: white;
    font-size: 18px;
    max-width: 327px;
  }

  .heading-image-section {
    margin-top: 48px;
  }

  .message-text {
    font-weight: 400;
    color: white;
    line-height: 1.4;
    text-align: center;
  }

  .community-button-wrapper {
    justify-content: center;
    .p-button {
      height: 48px;
    }
  }

  .community-button {
    background-color: #f8fcff;
    border: 0;
    color: #062d49;
    span {
      font-weight: 400;
      font-family: Roboto;
    }

    &:hover {
      background: rgb(31 126 92);
    }
  }

  .dashboard-body-wrapper {
    //top: 250px;
    padding-top: 250px;
    margin-bottom: 125px;
  }

  .content-section {
    flex-direction: column-reverse;
    @include for-tablet-landscape-up {
      flex-direction: row;
    }

    &.flex-to-right {
      flex-direction: column-reverse;

      @include for-tablet-landscape-up {
        flex-direction: row-reverse;
      }
    }
  }
  .body-feature-wrapper {
    color: rgba(0, 103, 177, 1);
    margin: 0 auto;
    margin-bottom: 30px;

    text-align: center;
    @include for-tablet-portrait-up {
      margin-bottom: 90px;
    }
  }
  .grow2-section {
    margin-bottom: 50px;
    @include for-tablet-portrait-up {
      margin-bottom: 120px;
    }
  }

  .content-title {
    max-width: 530px;
    .grow2-title {
      color: rgba(6, 45, 73, 1);
    }
    .title-name {
      color: rgba(42, 175, 127, 1);
    }

    .title-text {
      font-size: 20px;
      line-height: 23px;

      @include for-tablet-landscape-up {
        font-size: 30px;
        line-height: 35px;
      }
    }
  }

  .content-advantage-list-wrapper {
    list-style-type: none;
    margin-top: 40px;

    .list-wrapper {
      margin-bottom: 16px;
    }
  }

  .content-advantage-list {
    &:nth-child(3) {
      li {
        .list-wrapper {
          margin-bottom: 0;
        }
      }
    }
  }

  .content-list-items {
    .dasboard-content-img {
      max-width: 653px;
      max-height: 366px;
    }
  }

  .list-content-wrapper {
    line-height: 24px;
  }
  .list-key-point {
    color: rgba(89, 89, 89, 1);
  }
  .list-value-point {
    color: rgba(98, 98, 98, 1);
  }

  .content-list-button {
    background: rgba(42, 175, 127, 1);
    color: white;
    margin-top: 40px;

    @include for-tablet-portrait-up {
      margin-top: 73px;
    }
  }

  .users-review-section {
    margin: 0 auto;

    .review-img {
      max-width: 398px;
      width: 100%;
      height: 268px;
    }
    .review-wrapper {
      flex-direction: column;
    }
    .review-text-wrapper {
      max-width: 398px;
      width: 100%;
      height: 268px;
      background-color: #062d49;
      color: white;
      padding: 38px 0;
      @include for-tablet-portrait-up {
        padding: 60px 49px;
      }
    }
  }

  .carousel-section {
    margin: 0 auto;
    margin-top: 0;

    @include for-tablet-portrait-up {
      margin-top: 120px;
    }
    .carousel-img {
      max-width: 350px;
      width: 100%;
      height: auto;
      @include for-tablet-portrait-up {
        max-width: 460px;
      }
    }
    .p-carousel-indicators {
      display: none;
    }
    .p-carousel-prev,
    .p-carousel-next {
      &.p-link {
        border: 2px solid #2a5470;

        width: 24px;
        height: 24px;

        .p-icon {
          width: 16px;
          height: 16px;
        }
        @include for-tablet-landscape-up {
          width: 40px;
          height: 40px;
          border: 3px solid #2a5470;

          .p-icon {
            width: 12px;
            height: 12px;
          }
        }

        svg {
          filter: brightness(0) saturate(100%) invert(26%) sepia(9%) saturate(3239%)
            hue-rotate(161deg) brightness(98%) contrast(84%);
        }
        &:hover {
          background-color: #062d49;

          svg {
            filter: brightness(0) invert(1);
          }
          transition: all 0.3s;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .community-section {
    margin-top: 150px;

    .heading-text-wrapper {
      color: #626262;
      font-size: 18px;
      line-height: 24px;
      max-width: 1035px;
      margin: 0 auto;
      text-align: center;
    }

    .wrapper {
      margin: 0 auto;
    }
  }

  .join-grow-2 {
    color: #0067b1;
    font-size: 18px;
    font-weight: 500;
    margin-top: 60px;
    text-align: center;
  }
  .community-card-component {
    margin-top: 120px;
    .community-card-wrapper {
      max-width: 330px;
      margin: 10px;

      &.learn-and-grow {
        .community-card {
          background-color: transparent;
          justify-content: space-between;
        }
        .community-card-text {
          color: #595959;
          font-size: 18px;
          margin-top: 30px;
          line-height: 26px;
        }
        .community-card-title {
          color: #0067b1;
          font-size: 18px;
          margin-top: 40px;
        }
      }
    }
    .community-card {
      background-color: #2aaf7f;
      color: white;
      border-radius: 8px;
      align-items: center;
      padding: 16px;
      height: 100%;
    }
    .community-card-title {
      margin-top: 28px;
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: 500;
    }

    .community-card-text {
      font-size: 16px;
      text-align: center;
      font-weight: 400;
      line-height: 22px;
    }
    .community-card-icon {
      background-color: #b6ffe5;
      width: 126px;
      height: 126px;
      left: 16px;
      top: 16px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .icon-card-wrapper {
      width: 70px;
      height: 70px;
      left: 44px;
      top: 44px;
      background-color: #2a5470;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .read-more-button-section {
    margin-top: 60px;
    .p-button {
      background: #2aaf7f;
      padding: 8px 16px;
    }
    .p-button-label {
      font-size: 18px;
      line-height: 21px;
      font-weight: 400;
    }
  }
}

.container {
  position: relative;
  display: inline-block;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  display: inline-block;
  position: absolute;
  transform-origin: center center;
  white-space: nowrap;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 13px 0px #ffdbdb29;
  font-size: 12px;
}

.inner {
  animation: circular-motion-inner 8s infinite linear;
}

.outer {
  animation: circular-motion-outer 12s infinite linear;
}

.content-message-wrapper {
  margin: 0 16px;
}
@keyframes circular-motion-inner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateY(-130px) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(90deg) translateY(-130px) rotate(-90deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) translateY(-130px) rotate(-180deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(270deg) translateY(-130px) rotate(-270deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateY(-130px) rotate(-360deg);
  }
}

@keyframes circular-motion-outer {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateY(180px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateY(180px) rotate(-360deg);
  }
}

.text:nth-child(1) {
  background-color: #fdecbf;
  color: #614700;
  animation-duration: 7s; /* Delay for Word 1 */
}

.text:nth-child(2) {
  color: #5c0000;

  background-color: #ffdbdb;
  animation-duration: 8.5s; /* Delay for Word 2 */
}

.text:nth-child(3) {
  color: #00581e;

  background-color: #f2e8ff;
  animation-duration: 9.5s; /* Delay for Word 3 */
}

.text:nth-child(4) {
  color: #596900;

  background-color: #c2ffd7;
  animation-duration: 10s; /* Delay for Word 4 */
}

.text:nth-child(5) {
  color: #2a0061;

  background-color: #f4fcc7;
  animation-duration: 12s; /* Delay for Word 5 */
}

@include for-tablet-landscape-up {
  .dashboard-section {
    padding-top: 90px;
    .dashboard-heading-wrapper {
      padding-top: 24px;
      text-align: start;
      padding: 50px 50px 137px;
      flex-direction: row;
    }

    .heading-primary {
      max-width: 550px;
      font-size: 48px;
    }
    .heading-secondary {
      margin-top: 16px;
      max-width: 550px;
      font-size: 20px;
    }

    .heading-image-section {
      margin-top: auto;
    }

    .dashboard-community-message-section {
      padding-left: 70px;
      padding-right: 70px;
    }

    .community-button-wrapper {
      justify-content: end;
    }

    .message-text {
      text-align: left;
    }
  }
}

@include for-tablet-portrait-up {
  @keyframes circular-motion-inner {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) translateY(-150px) rotate(0deg);
    }
    25% {
      transform: translate(-50%, -50%) rotate(90deg) translateY(-150px) rotate(-90deg);
    }
    50% {
      transform: translate(-50%, -50%) rotate(180deg) translateY(-150px) rotate(-180deg);
    }
    75% {
      transform: translate(-50%, -50%) rotate(270deg) translateY(-150px) rotate(-270deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg) translateY(-150px) rotate(-360deg);
    }
  }

  @keyframes circular-motion-outer {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) translateY(200px) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg) translateY(200px) rotate(-360deg);
    }
  }
}
@include for-desktop-to-tablet {
  .dashboard-section {
    .dashboard-heading-wrapper {
      padding-top: 24px;
      text-align: center;
      padding: 50px 50px 137px;
      flex-direction: row;
    }
    .heading-image-section {
      margin-top: 48px;
    }
  }
}

@include for-desktop-up {
  .dashboard-section {
    .dashboard-heading-wrapper {
      padding-top: 24px;
      text-align: start;
      padding: 50px 50px 137px;
      flex-direction: row;
    }
  }
}

.right-arrow {
  background-image: url('@/assets/rightbuttonarrow.svg');
  width: 25px;
  height: 25px;
}
