@import './function.scss';

.signup-section {
  padding-top: 100px;
  margin: 0 auto;
  margin-bottom: 90px;
  caret-color: transparent;
  .content-title-wrapper {
    font-size: 30px;
    font-weight: 700;
    line-height: 56px;
    color: #062d49;

    .font-green {
      color: #2aaf7f;
    }

    @include for-tablet-portrait-up {
      font-size: 48px;
    }
  }

  .create-account-section {
    max-width: 470px;
    margin-top: 30px;
    .create-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 47px;
      text-align: center;
      color: #062d49;

      @include for-tablet-portrait-up {
        font-size: 40px;
      }
    }

    .create-body {
      margin-top: 24px;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
      color: #52525b;

      @include for-tablet-portrait-up {
        font-size: 18px;
      }
    }
  }

  .form-card {
    margin-top: 60px;
  }

  .form-container {
    box-shadow: 0px 3px 8px 0px #00000014;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 16px;
    border-radius: 20px;
    background-color: #ffffff;
    @include for-tablet-portrait-up {
      padding: 30px;
    }
  }
  .form-group {
    margin-bottom: 20px;
  }

  .checkbox-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    a {
      text-decoration: none;
    }
  }

  .p-checkbox-box {
    width: 19px;
    height: 19px;
    border: 1px solid #94a3b8;
    border-radius: 4px;
  }
  .custom-checkbox {
    margin-right: 10px;
  }

  .signup-button {
    margin-top: 5px;
    width: 100%;
    background: rgba(42, 175, 127, 1);
    border: 0;
    color: white;
    span {
      font-weight: 400;
      font-family: Roboto;
    }

    &:hover {
      background: rgb(31 126 92);
    }
  }

  input[type='text'],
  input[type='email'],
  input[type='password'] {
    caret-color: transparent;
    width: 100%;
    padding: 18px 16px;
    border: 1px solid #e4e4e7;

    border-radius: 10px;
    font-family: Roboto;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    @include for-tablet-portrait-up {
      width: 380px;
    }
    &::placeholder {
      text-align: center;

      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

      color: #7e7e7e;
    }
    &:focus-visible {
      outline: none;
      caret-color: #062d49;

      border-bottom: 0.5px solid #062d49;
    }
  }

  .already-account-section {
    font-family: Roboto;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #71717a;

    span {
      font-family: Roboto;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #0067b1;
      cursor: pointer;
    }
  }
  //   button {
  //     display: block;
  //     width: 100%;
  //     padding: 10px;
  //     background-color: #4caf50;
  //     color: white;
  //     border: none;
  //     border-radius: 4px;
  //     cursor: pointer;
  //   }

  //   button:hover {
  //     background-color: #45a049;
  //   }
}
